<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Cake.Powershell" value="https://ra-cps-dev.pkgs.visualstudio.com/NEWS/_packagitging/Cake.Powershell/nuget/v3/index.json" />
    <add key="DirectoryFileParserLibrary" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/DirectoryFileParserLibrary/nuget/v3/index.json" />
    <add key="ColocatedFeed" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/CoLocatedAssemblyLoader/nuget/v3/index.json" />
    <add key="WixBootstrapperApplicationData" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/WixBootstrapperApplicationData/nuget/v3/index.json" />
    <add key="NEWS_ACAD-Common" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/NEWS_ACAD-Common/nuget/v3/index.json" />
    <add key="NEWS_AutoCAD_DotNet_Library" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/NEWS_AutoCAD_DotNet_Library/nuget/v3/index.json" />
    <add key="VB6_CakeBuildAddin" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/VB6_CakeBuildAddin/nuget/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="WpfWrappingPanel" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/WpfWrappingPanel/nuget/v3/index.json" />
    <add key="WpfTreeViewList" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/WpfTreeViewListControl/nuget/v3/index.json" />
    <add key="WpfListViewCustomControl" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/WpfListViewCustomControl/nuget/v3/index.json" />
    <add key="SerilogTraceHelper" value="https://ra-cps-dev.pkgs.visualstudio.com/_packaging/SerilogLogTraceHelper/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <!--    -->
    <add key="Ra-Cps-Dev VSTS Feed" value="true" />
    <add key="DirectoryFileParserLibrary" value="true" />
    <add key="ColocatedFeed" value="true" />
    <add key="WixBootstrapperApplicationData" value="true" />
    <add key="NEWS_ACAD-Common" value="true" />
    <add key="NEWS_AutoCAD_DotNet_Library" value="true" />
    <add key="VB6_CakeBuildAddin" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
    <add key="WpfWrappingPanel" value="true" />
    <add key="WpfTreeViewList" value="true" />
    <add key="WpfListViewCustomControl" value="true" />
    <add key="SerilogTraceHelper" value="true" />

  </disabledPackageSources>
</configuration>